<div class="header-countdown" style="background:{{ block.countdown_target_bg}};">
    {% if block.countdown_target_link %}
        <a href="{{ block.countdown_target_link }}"
            class="hander_countdowns-text {% if block.countdown_target_flashing %} hander_countdowns_blinking{% endif %}"
        >
    {% else %}
        <a  class="hander_countdowns-text {% if block.countdown_target_flashing %} hander_countdowns_blinking{% endif %}">
    {% endif %}
    <div class="countdown_target_content" ><i class="iconfont icon-naozhong"></i> Flash Sale</div>
    <div id="hander_countdowns" data-count-time="{{ block.countdown_target_datetime}}">
        <img src="{{ 'shandian.png' | asset_url }}" alt="icon">
        Ends in
        <span class="dian"></span>
      <span class="number" id="countdowns_days">00</span><span class="dian">:</span>
      <span class="number" id="countdowns_hours">00</span><span class="dian">:</span>
      <span class="number" id="countdowns_minutes">00</span><span class="dian">:</span>
      <span class="number" id="countdowns_seconds">00</span>
    </div>
  </a>
</div>
<div class="flash-title" style="color:{{ block.countdown_target__color}}">{{ block.countdown_target_content }}</div>
<script src="{{ 'carouselslide.js' | asset_url }}" defer="defer"></script>
<style>
  .header-countdown {
    border-radius: 5px;
    /* background-color: rgb(222, 181, 140); */
    {% comment %} color: #fff; {% endcomment %}
    font-size: 12px;
  }
  .hander_countdowns-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    flex-wrap: wrap;
  }
  .hander_countdowns-text .countdown_target_content {
    {% comment %} width: 70%; {% endcomment %}
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;

 }
  .hander_countdowns-text #hander_countdowns{
    display: flex;
    align-items: center;
    {% comment %} min-width: 199px; {% endcomment %}
    white-space: nowrap;
    font-weight: 600;
  }
  .hander_countdowns-text #hander_countdowns img{
    width: 32px;
    height: 32px;
    margin-right: 8px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
  }

  .hander_countdowns-text #hander_countdowns .number {
    font-weight: 600;
    background-color: #fff;
    border-radius: 3px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    text-align: center;
  }
  .hander_countdowns-text #hander_countdowns .dian {
    padding: 0px 3px;
  }

  .hander_countdowns_blinking {
    animation: blink 0.8s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  .flash-title{
    font-size:12px;
}
</style>
