<div class="new-product-template-content" data-section-id="{{ section_id }}"
  data-product-id="{{ product.id }}"
  data-section-type="product">
  {% assign current_variant = product.selected_or_first_available_variant %}
  <header class="section-header-amend">
    {%- render 'breadcrumbs' -%}
    <span class="current-font"> {{ product.title }}</span>
  </header>
  <div class="new-page-width">
    <div class="product-swipers">
      {% comment %} 主图滑动区域 {% endcomment %}
      <div class="swiper new-product-swiper">
        <div class="swiper-wrapper" id="swiperWrapper">
          {% comment %}
            {%- for media in product.media -%}
              {%- liquid
                assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
              -%}
              <div class="swiper-slide">
                <img class="lazyload" data-sizes="auto" data-src="{{ img_url }}"  alt="img">
              </div>
            {%- endfor -%}
          {% endcomment %}
        </div>
      </div>
      {% comment %} 缩略图 {% endcomment %}
      <div class="swiperthumbs">
        <div class="swiper swiper-product__thumbs">
          <div class="swiper-wrapper" id="swiperWrapperthumbs">
          </div>
          <div class="swiper-button-prev"><</div>
          <div class="swiper-button-next">></div>
        </div>
      </div>
    </div>
    <div class="product-grid" data-product-blocks>
      {% comment %} title {% endcomment %}
      <div class="product-title">
        CRAWFORD LEATHER LOUNGE MOD-ULAR SECTIONAL
      </div>
      {% comment %} 星星 {% endcomment %}
      <div class="product-block--xingxing">
        <a class="loox-product" href="#looxReviews">
          <div
            class="loox-rating product"
            data-id="{{ product.id }}"
            data-rating="{{ product.metafields.loox.avg_rating }}"
            data-raters="{{ product.metafields.loox.num_reviews }}"
          ></div>
        </a>
        <img src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/google_trusted_store_icon_156385c2-8215-41df-a513-2a9dbed24ba8.png?v=1680242247"
          alt="google-trusted-badge">
      </div>
      {% comment %} 倒计时 {% endcomment %}
      <a class="product-block--countdown">
        <div class="countdown_target_content" >BLACK FRIDAY</div>
        <div id="hander_countdowns">
            Ends in
            <span class="dian"></span>
          {% comment %} <span class="number" id="countdowns_days">00</span><span class="dian">:</span> {% endcomment %}
          <span class="number" id="countdowns_hours">00</span><span class="dian">:</span>
          <span class="number" id="countdowns_minutes">00</span><span class="dian">:</span>
          <span class="number" id="countdowns_seconds">00</span><span class="dian">:</span>
          <span class="number" id="countdowns_milliseconds">0</span>
        </div>
      </a>
      {% comment %} 价格 {% endcomment %}
      <div class="product-block--price">
        {% comment %} 正常价 {% endcomment %}
        <span
          id="price-fallback-selectors"
          data-product-price
          class="product__price"
        >
          {{ current_variant.price | money }}
        </span>
        {% comment %} 划线价格 {% endcomment %}
        <span data-compare-price class="product__price--compare">
            {{ current_variant.compare_at_price | money }}
        </span>
      </div>
      {% comment %} 货期 {% endcomment %}
      <div class="product-block--delivery">
        Pre-order 35-52 business days delivery
      </div>
      {% comment %} 变体按钮 {% endcomment %}
      <div class="product-block--variant">
        <div class="variant-title">Color</div>
        <div class="variant-btn">
          
        </div>
      </div>
      {% comment %} {%- for block in blocks -%}
        {%- case block.type -%}
          {%- when 'countdown_timer' -%}
        
        {%- endcase -%}
      {%- endfor -%} {% endcomment %}
    </div>
  </div>
</div>
<script>
  var productMedia = {{ product.media | json }}
  function getImageUrl(src) {
    var lastDotPosition = src.lastIndexOf('.');
    return src.substring(0, lastDotPosition) + "_{width}x" + src.substring(lastDotPosition);
  }
  $(document).ready(function () {
    var $swiperWrapper = $('#swiperWrapper');
    var $swiperWrapperthumbs = $('#swiperWrapperthumbs');
    productMedia.forEach((media,index) => {
      var $swiperSlide = $('<div>', { class: 'swiper-slide' });
      // 创建 img 元素
      var $imgElement = $('<img>', {
        class: 'lazyload',
        'data-index': index,
        'data-sizes': 'auto',
        'data-src': getImageUrl(media.src),
        alt: 'img'
      });

      $swiperSlide.append($imgElement);
      $swiperWrapper.append($swiperSlide.clone());
      $swiperWrapperthumbs.append($swiperSlide);

          // 默认第一个添加 selected 类
      if (index === 0) {
        $swiperSlide.addClass('selected');
      }
    })

    var mainSwiper  = new Swiper('.new-product-swiper',{
      slidesPerView: 1,
    })
    var thumbsSwiper = new Swiper('.swiper-product__thumbs',{
      slidesPerView: "auto",
      spaceBetween: 30,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      on: {
        click: function (event) {
          $('.swiper-product__thumbs .swiper-slide').removeClass('selected');
          var clickedIndex = thumbsSwiper.clickedIndex;
          $('.swiper-product__thumbs .swiper-slide').eq(clickedIndex).addClass('selected');
          mainSwiper.slideTo(clickedIndex);
        },
      },
    })
  });
  var deviceWidth
  setHtmlFontSize()
  if (window.addEventListener) {
    window.addEventListener('resize', function () {
        setHtmlFontSize()
    }, false)
  }
  function setHtmlFontSize () {
    if (!getDeviceType()){
      deviceWidth = document.documentElement.clientWidth > 1920 ? 1920 : document.documentElement.clientWidth
      document.getElementsByTagName('html')[0].style.cssText = 'font-size:' + (deviceWidth / 1920) * 100 + 'px !important'
    } else {
      deviceWidth = document.documentElement.clientWidth
      document.getElementsByTagName('html')[0].style.cssText = 'font-size:' + (deviceWidth / 750) * 100 + 'px !important'
    }
  }

    {% comment %} document.addEventListener('page:loaded', function() {
      console.log('222222222222222222222222222222222')
    }); {% endcomment %}
    {% comment %} mulberry.core.renderInlineOffer({
      container: '.mulberry-container',
      offer: offer,
    }); {% endcomment %}
    {% comment %} let collectionsss1 = {{ product | json }}
    console.log(collectionsss1,'productproductproductproductproduct') {% endcomment %}
    {% comment %} let allproducts = {{ all_products['white-glove-delivery'] | json }}
    console.log(allproducts,'allproducts') {% endcomment %}
    {% comment %} let collectionsss = {{ collections['Bundle'].products | json }}
    console.log(collectionsss,'collectionssscollectionssscollectionsss') {% endcomment %}
</script>
