<div class="new-product-template-content"
  >

  {% assign current_variant = product.selected_or_first_available_variant %}
  <header class="section-header-amend">
    {%- render 'breadcrumbs' -%}
    <span class="current-font"> {{ product.title }}</span>
  </header>
  <div class="new-page-width">
    <div class="product-swipers">
      {% comment %} 主图滑动区域 {% endcomment %}
      <div class="swiper new-product-swiper">
        <div class="swiper-wrapper" id="swiperWrapper">
        </div>
      </div>
      {% comment %} 缩略图 {% endcomment %}
      <div class="swiperthumbs">
        <div class="swiper swiper-product__thumbs">
          <div class="swiper-wrapper" id="swiperWrapperthumbs">
          </div>
          <div class="swiper-button-prev"><</div>
          <div class="swiper-button-next">></div>
        </div>
      </div>
    </div>
    <div class="product-grid" data-product-blocks>
      {% comment %} title {% endcomment %}
      <div class="product-title">
        CRAWFORD LEATHER LOUNGE MOD-ULAR SECTIONAL
      </div>
      {% comment %} 星星 {% endcomment %}
      <div class="product-block--xingxing">
        <a class="loox-product" href="#looxReviews">
          <div
            class="loox-rating product"
            data-id="{{ product.id }}"
            data-rating="{{ product.metafields.loox.avg_rating }}"
            data-raters="{{ product.metafields.loox.num_reviews }}"
          ></div>
        </a>
        <img src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/google_trusted_store_icon_156385c2-8215-41df-a513-2a9dbed24ba8.png?v=1680242247"
          alt="google-trusted-badge">
      </div>
      {% comment %} 倒计时 {% endcomment %}
      <a class="product-block--countdown">
        <div class="countdown_target_content" >FLASH SALE</div>
        <div id="hander_countdowns">
            Ends in
            <span class="dian"></span>
          {% comment %} <span class="number" id="countdowns_days">00</span><span class="dian">:</span> {% endcomment %}
          <span class="number" id="countdowns_hours">00</span><span class="dian">:</span>
          <span class="number" id="countdowns_minutes">00</span><span class="dian">:</span>
          <span class="number" id="countdowns_seconds">00</span><span class="dian">:</span>
          <span class="number" id="countdowns_milliseconds">0</span>
        </div>
      </a>
      {% comment %} 价格 {% endcomment %}
      <div class="product-block--price">
        {% comment %} 正常价 {% endcomment %}
        <span
          id="price-fallback-selectors"
          data-product-price
          class="product__price"
        >
          {{ current_variant.price | money }}
        </span>
        {% comment %} 划线价格 {% endcomment %}
        <span data-compare-price class="product__price--compare">
            {{ current_variant.compare_at_price | money }}
        </span>
      </div>
      {% comment %} 货期 {% endcomment %}
      <div class="product-block--delivery">
        Pre-order 35-52 business days delivery
      </div>
      {% comment %} 变体按钮 {% endcomment %}
      <div class="product-block--variant">
      </div>
      <div class="product-block--whitegloves">
        {%- assign deliveryVariants = all_products['white-glove-delivery'].variants -%}
        {%- assign carefreeVariants = all_products['care-free-plan'].variants -%}
        <div class="whitegloves-title" id="whitegloves-open">
          White Glove Delivery ⓘ
        </div>
        <div class="whitegloves-switch">
          {% comment %} <input type="checkbox" id="deliveryscales">
          <label for="deliveryscales">Is there an elevator？</label> {% endcomment %}
          <input id="deliveryscales" class="cmn-toggle cmn-toggle-round" type="checkbox">
          <label for="deliveryscales"></label>
          Is there an elevator？
        </div>
        <div class="whitegloves-list" id="whiteglovesid">
          <select id="deliveryoptions">
            {%- for datas in deliveryVariants -%}
              <option value="{{ datas.id }}">{{ datas.title }}</option>
            {%- endfor -%}
          </select>
        </div>
      </div>
      {% comment %} mulberry {% endcomment %}
      <div class="mulberry-inline-container"></div>
      {% comment %} 提交按钮 {% endcomment %}
      <div class="product-block--addcart">
        <button>Add to cart</button>
        <button>buy it now</button>
      </div>

      {% comment %} Shopify-Afterpay {% endcomment %}
      <div id="product-prices" style="text-align: left;margin-top:10px"></div>
      <!-- Sezzle Static Widget -->
      <div id="sezzle-widget" style="text-align: left;"></div>
      {{ 'sezzle-static-widget.js' | asset_url | script_tag }}
      <script>
        var renderSezzle = new AwesomeSezzle({
            amount: '{{ product.selected_or_first_available_variant.price | money }}',
            theme: 'light',
            modalTheme: 'color',
            {% comment %} maxWidth: 400, {% endcomment %}
            marginTop: 0,
            marginBottom: 0,
            marginLeft: 0,
            marginRight: 0,
            alignment: 'left',
            alignmentSwitchMinWidth: 576,
            alignmentSwitchType: 'center',
            textColor: '#111',
            fontFamily: 'HarmonyOS Sans SC',
            fontSize: 14,
            logoSize: 1.0,
            logoStyle: {},
            {% comment %} numberOfPayments: 12, {% endcomment %}
            language: 'en',
            parseMode: 'default',
            merchantLocale: 'North America',
            widgetTemplate: {en: 'Pay in 4 interest-free payments of %%price%% with %%logo%% %%info%%', fr: 'Payez en 4 versements sans intérêt de %%price%% avec %%logo%% %%info%%'},
            ineligibleWidgetTemplate: '%%logo%% Pay in 4 interest-free payments on purchases $35-$2,500. %%info%%',
            {% comment %} widgetTemplate: {en: 'Starting at %%price%% /mo or 0% APR with %%logo%% %%info%%'}, {% endcomment %}
            minPrice: 3500, // Amount in cents
            maxPrice: 250000 // Amount in cents
        })
        renderSezzle.init();
        document.onchange = function(){
          var newPrice = document.getElementById("price-fallback-selectors");
          renderSezzle.alterPrice(newPrice.textContent);
          console.log(renderSezzle,'renderSezzlerenderSezzle')
          $('.sezzle-button-text').css('font-weight', '500 !important');
        }
      </script>
      <!-- End Sezzle Static Widget -->
      {% comment %} {%- for block in blocks -%}
        {%- case block.type -%}
          {%- when 'countdown_timer' -%}
        
        {%- endcase -%}
      {%- endfor -%} {% endcomment %}
    </div>
  </div>
</div>
<script>
  $('#deliveryscales').on('change', function() {
    $('#whiteglovesid').toggle()
  });
  const body = document.body;
  const inhtml = `
  <div id="myModal" class="taxes-modals">
    <!-- 模态框内容 -->
    <div class="taxes-modal">
      <span class="taxes-modal-close" id="closeModalButton">&times;</span>
      <div class="taxes-title">White Glove Delivery Pricing</div>
      <ul class="taxes-content">
        <li>The base white glove service fee (floors 1-3) is $169. </li>
        <li>Each additional floor will incur a service fee of $50.</li>
        <p style="color:red;"><strong>Note:</strong> White Glove service is only available for residences with an elevator.</p>
        <div>White glove delivery details:</div>
        <li>Bring your item(s) from the truck into your home</li>
        <li>Unpack the merchandise</li>
        <li>Remove and recycle the packaging(unrelated household waste removal not included)</li>
      </ul>
    </div>
  </div>
  `
  body.insertAdjacentHTML('beforeend', inhtml);
  $("#whitegloves-open").click(function() {
      $("#myModal").css("display", "block");
  });

  $("#closeModalButton").click(function() {
      $("#myModal").css("display", "none");
  });

  let blockS = [
    {
      title: 'color',
      value: ['red', 'green', 'blue']
    },{
      title: 'size',
      img: 'https://25home.myshopify.com/cdn/shop/files/1926-3_15597195-e331-4ca3-ad61-3523a046ec3d_1512x.jpg?v=1697162569',
      value: ['3 - PIECE - ARMLESS LOVESEAT + CORNER CHAIR + ARMLESS LOVESEAT', '4 - PIECE - ARMLESS LOVESEAT + CORNER CHAIR + ARMLESS LOVESEAT','5 - 456','789']
    }
  ];

  let html = '';
  blockS.forEach(block => {
    if (block.title === 'color') {
      html += `<div class="variant-title">${ block.title }</div>`;
      html += '<div class="variant-color">';
      block.value.forEach(color => {
        html += `<div class="variant-input" data-title="${color}" style="background-color: ${color};"></div>`;
      });
      html += '</div>';
    } else if (block.title === 'size') {
      html += `<div class="variant-title">${ block.title }</div>`;
      html += '<div class="variant-options">';
      block.value.forEach(size => {
        html += `
          <div class="variant-options-value" data-title="${size}">
            <img src="${block.img}" alt="img">
            <div class="title">${size}</div>
          </div>
        `;
      });
      html += '</div>';
    }
  });
  document.querySelector('.product-block--variant').innerHTML = html;

  // 用于存储选中的值
  let selectedValues = {
    color: null,
    size: null
  };
  blockS.forEach(block => {
    if (block.title === 'color') {
      block.value.forEach((color, index) => {
        let variantInput = $(`.variant-color .variant-input[data-title="${color}"]`);
        if (index === 0) {
          variantInput.addClass('color-selected');
          selectedValues.color = color;
        }
        variantInput.on('click', function () {
          $('.variant-color .variant-input').removeClass('color-selected');
          variantInput.addClass('color-selected');
          selectedValues.color = color;
        });
      });
    } else if (block.title === 'size') {
      block.value.forEach((size, index) => {
        let variantOption = $(`.variant-options .variant-options-value[data-title="${size}"]`);
        if (index === 0) {
          variantOption.addClass('options-selected');
          selectedValues.size = size;
        }
        variantOption.on('click', function () {
          $('.variant-options .variant-options-value').removeClass('options-selected');
          variantOption.addClass('options-selected');
          selectedValues.size = size;
        });
      });
    }
  });

  var productMedia = {{ product.media | json }}
  function getImageUrl(src) {
    var lastDotPosition = src.lastIndexOf('.');
    return src.substring(0, lastDotPosition) + "_{width}x" + src.substring(lastDotPosition);
  }
  $(document).ready(function () {
    var $swiperWrapper = $('#swiperWrapper');
    var $swiperWrapperthumbs = $('#swiperWrapperthumbs');
    productMedia.forEach((media,index) => {
      var $swiperSlide = $('<div>', { class: 'swiper-slide' });
      // 创建 img 元素
      var $imgElement = $('<img>', {
        class: 'lazyload',
        'data-index': index,
        'data-sizes': 'auto',
        'data-src': getImageUrl(media.src),
        alt: 'img'
      });

      $swiperSlide.append($imgElement);
      $swiperWrapper.append($swiperSlide.clone());
      $swiperWrapperthumbs.append($swiperSlide);

          // 默认第一个添加 selected 类
      if (index === 0) {
        $swiperSlide.addClass('selected');
      }
    })

    var mainSwiper  = new Swiper('.new-product-swiper',{
      slidesPerView: 1,
    })
    var thumbsSwiper = new Swiper('.swiper-product__thumbs',{
      slidesPerView: "auto",
      spaceBetween: 30,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      on: {
        click: function (event) {
          $('.swiper-product__thumbs .swiper-slide').removeClass('selected');
          var clickedIndex = thumbsSwiper.clickedIndex;
          $('.swiper-product__thumbs .swiper-slide').eq(clickedIndex).addClass('selected');
          mainSwiper.slideTo(clickedIndex);
        },
      },
    })
  });
  var deviceWidth
  setHtmlFontSize()
  if (window.addEventListener) {
    window.addEventListener('resize', function () {
        setHtmlFontSize()
    }, false)
  }
  function setHtmlFontSize () {
    if (!getDeviceType()){
      deviceWidth = document.documentElement.clientWidth > 1920 ? 1920 : document.documentElement.clientWidth
      document.getElementsByTagName('html')[0].style.cssText = 'font-size:' + (deviceWidth / 1920) * 100 + 'px !important'
    } else {
      deviceWidth = document.documentElement.clientWidth
      document.getElementsByTagName('html')[0].style.cssText = 'font-size:' + (deviceWidth / 750) * 100 + 'px !important'
    }
  }

    {% comment %} document.addEventListener('page:loaded', function() {
      console.log('222222222222222222222222222222222')
    }); {% endcomment %}
    {% comment %} mulberry.core.renderInlineOffer({
      container: '.mulberry-container',
      offer: offer,
    }); {% endcomment %}
    {% comment %} let collectionsss1 = {{ product | json }}
    console.log(collectionsss1,'productproductproductproductproduct') {% endcomment %}
    {% comment %} let allproducts = {{ all_products['white-glove-delivery'] | json }}
    console.log(allproducts,'allproducts') {% endcomment %}
    {% comment %} let collectionsss = {{ collections['Bundle'].products | json }}
    console.log(collectionsss,'collectionssscollectionssscollectionsss') {% endcomment %}
</script>
