<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <meta name="google-site-verification" content="HkYHzDu-JcQFXee6yfAI84Ev3hCCj4s4tQ3s6qORJ3A">
    <meta name="google-site-verification" content="p_U8lyaV_jfy4AhXjGO0_lVCKuskSovkSOkchewH0cE">
    <meta name="google-site-verification" content="e0q5vwPOJb3eVidxgSjPCzb3NJlCs6eHzymJqytuFSQ">
    <meta name="facebook-domain-verification" content="3zqxv6ho7hzfjgpqainfowdhuolvfa">
    <meta name="p:domain_verify" content="aed0438ede4c17dfe7d436a23af39136">
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {%- if {{product.metafields.custom.keywords}} -%}
      <meta name="keywords" content="{{product.metafields.custom.keywords}}">
    {%- endif -%}
    {%- if canonical_url != blank -%}<link rel="canonical" href="{{ canonical_url }}">{%- endif -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">
    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    <!-- Hotjar Tracking Code for https://25home.com/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 3685498, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    <script>
      (function (w, d, t, r, u) {
        var f, n, i;
        (w[u] = w[u] || []),
          (f = function () {
            var o = { ti: '187075307', enableAutoSpaTracking: true };
            (o.q = w[u]), (w[u] = new UET(o)), w[u].push('pageLoad');
          }),
          (n = d.createElement(t)),
          (n.src = r),
          (n.async = 1),
          (n.onload = n.onreadystatechange =
            function () {
              var s = this.readyState;
              (s && s !== 'loaded' && s !== 'complete') || (f(), (n.onload = n.onreadystatechange = null));
            }),
          (i = d.getElementsByTagName(t)[0]),
          i.parentNode.insertBefore(n, i);
      })(window, document, 'script', '//bat.bing.com/bat.js', 'uetq');
    </script>
    
    <!-- Safeopt -->
    <script type="text/javascript">
      var AddShoppersWidgetOptions = { loadCss: false, pushResponse: false };
      !(function () {
        var t = document.createElement('script');
        (t.type = 'text/javascript'),
          (t.async = !0),
          (t.id = 'AddShoppers'),
          (t.src = 'https://shop.pe/widget/widget_async.js#6331cfe890b61a04dc2e6a28'),
          document.getElementsByTagName('head')[0].appendChild(t);
      })();
    </script>
    


    <!-- Event snippet for 添加到购物车 conversion page -->
    <script>
      if (window.location.href.includes('/cart')) {
        gtag('event', 'conversion', { send_to: 'AW-10865344192/iAzHCJrbz8MDEMD9_7wo' });
      }
    </script>
    <!-- Event snippet for 开始结帐 conversion page -->
    <script>
      window.addEventListener('load', function () {
        document.querySelectorAll("button[name*='checkout']").forEach(function (e) {
          e.addEventListener('click', function (e) {
            gtag('event', 'conversion', { send_to: 'AW-10865344192/H5hmCJ3bz8MDEMD9_7wo' });
          });
        });
      });
    </script>

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-NV9862J');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Ads: 10865344192 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10865344192"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'AW-10865344192');
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11366525832"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'AW-11366525832');
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R1KDXDZJMZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-R1KDXDZJMZ');
    </script>
    
    <!-- Taboola Pixel Code -->
    <script type="text/javascript">
      window._tfa = window._tfa || [];
      window._tfa.push({ notify: 'event', name: 'page_view', id: 1526330 });
      !(function (t, f, a, x) {
        if (!document.getElementById(x)) {
          t.async = 1;
          t.src = a;
          t.id = x;
          f.parentNode.insertBefore(t, f);
        }
      })(
        document.createElement('script'),
        document.getElementsByTagName('script')[0],
        '//cdn.taboola.com/libtrc/unip/1526330/tfa.js',
        'tb_tfa_script'
      );
    </script>
    <script>
      if (window.location.href.includes('/cart')) {
        _tfa.push({ notify: 'event', name: 'add_to_cart', id: 1526330 });
      }
    </script>
    <script>
      window.addEventListener('load', function () {
        document.querySelectorAll("button[name*='checkout']").forEach(function (e) {
          e.addEventListener('click', function (e) {
            _tfa.push({ notify: 'event', name: 'start_checkout', id: 1526330 });
          });
        });
      });
    </script>
    <!-- End of Taboola Pixel Code -->


    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

      window.theme = window.theme || {};
      theme.routes = {
        home: "{{ routes.root_url }}",
        cart: "{{ routes.cart_url | append: '.js' }}",
        cartPage: "{{ routes.cart_url }}",
        cartAdd: "{{ routes.cart_add_url | append: '.js' }}",
        cartChange: "{{ routes.cart_change_url | append: '.js' }}"
      };
      theme.strings = {
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
        stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
        willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
        willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
        waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
        savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
        searchCollections: {{ 'general.search.collections' | t | json }},
        searchPages: {{ 'general.search.pages' | t | json }},
        searchArticles: {{ 'general.search.articles' | t | json }}
      };
      theme.settings = {
        dynamicVariantsEnable: true,
        cartType: {{ settings.cart_type | json }},
        isCustomerTemplate: {% if request.page_type contains 'customers/' %}true{% else %}false{% endif %},
        moneyFormat: {{ shop.money_format | json }},
        saveType: {{ settings.product_save_type | json }},
        productImageSize: {{ settings.product_grid_image_size | json }},
        productImageCover: {{ settings.product_grid_image_fill }},
        predictiveSearch: {{ settings.predictive_search_enabled }},
        predictiveSearchType: {{ settings.search_type | json }},
        quickView: {{ settings.quick_shop_enable }},
        themeName: 'Impulse',
        themeVersion: "5.0.0"
      };
    </script>

    {{ content_for_header }}
    

    {%- if shop.enabled_currencies.size > 1 -%}
      <link
        rel="preload"
        as="style"
        href="{{ 'currency-flags.css' | asset_url | split: '?' | first }}"
        onload="this.onload=null;this.rel='stylesheet'"
      >
      <link rel="stylesheet" href="{{ 'currency-flags.css' | asset_url | split: '?' | first }}">
    {%- endif -%}


    {%- render 'seo-title' -%}

    {{ 'theme.css' | asset_url | stylesheet_tag }}
    
    <link rel="stylesheet" href="{{ 'iconfont.css' | asset_url }}" type="text/css">

    <script src="{{ 'vendor-scripts-v10.js' | asset_url | split: '?' | first }}" defer="defer"></script>
    <!-- <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script> -->
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    {{ 'device.js' | asset_url | script_tag }}

    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    {{ shop.metafields.loox.global_html_head }}

    {% comment %} 插件文件 {% endcomment %}
    {% comment %} {% render 'edt_p' %} {% endcomment %}
    {% comment %} {% include 'sm-red' %} {% endcomment %}
    {% comment %} {% render 'pe-disco-countdown-timer' %} 已删除文件 {% endcomment %}
    {% comment %} {% render 'pagefly-head' %} 已删除文件 {% endcomment %}
    {% comment %} {% include 'upsellio' %} 已删除文件 {% endcomment %}
    {% comment %} {% include 'best-option-initializer' %}  {% endcomment %}

    {% comment %} {% if template == 'cart' %}
      {% include 'revy-bundle-script' %}
    {% endif %} {% endcomment %}
    {% comment %} {% render 'digismoothie-giftbox' %} {% endcomment %}
    {% comment %} {% render 'gsf-conversion-pixels' %} {% endcomment %}
    {% comment %} {% render 'quantity-breaks-now', customer: customer, template: template, product: product, cart: cart %} 已删除代码 {% endcomment %}
    {% comment %} {% include 'revy-bundle-script' %}
    {% include 'revy-discounts-script' %} {% endcomment %}
    {% comment %} {%- render 'social-meta-tags' -%} {% endcomment %}

    {%- render 'css-variables' -%}
    {%- render 'font-face' -%} 
    {% render 'special-offers' %}
    {% render 'special-offers-ajax-lib' %}
  

    {% capture boostersnippet %}{% include "booster-apps-common" %}{% endcapture %}

    {% unless boostersnippet contains 'Liquid error' %}{{ boostersnippet }}{% endunless %}

    {% comment %} 2023/11/08 {% endcomment %}
    {% comment %} {% if content_for_header contains 'hga.helloshopowner.com' %}
      {% render 'hso-hello-google-analytics' %}
    {% endif %} {% endcomment %}
    {% comment %} <script src="//code.tidio.co/45vxys51vlmmpmrasbvy8j5dp9fbp4ne.js" async></script> {% endcomment %}
    {% comment %} {% if content_for_header contains 'hga.helloshopowner.com' -%}
      {%- render 'hso-hello-google-analytics-event' -%}
    {%- endif %} {% endcomment %}

    <!-- SlideRule Script Start -->
    {% include 'sliderule-data' %}
    <!-- SlideRule Script End -->


    {% if content_for_header contains 'fastbundle.co' %}
      {% render 'fast_bundle_service' %}
    {% endif %}

    {% comment %} <script>
      (() => {
        const installerKey = 'docapp-discount-auto-install';
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get(installerKey)) {
          window.sessionStorage.setItem(
            installerKey,
            JSON.stringify({
              integrationId: urlParams.get('docapp-integration-id'),
              divClass: urlParams.get('docapp-install-class'),
              check: urlParams.get('docapp-check'),
            })
          );
        }
      })();
    </script>

    <script>
      (() => {
        const previewKey = 'docapp-discount-test';
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get(previewKey)) {
          window.sessionStorage.setItem(
            previewKey,
            JSON.stringify({ active: true, integrationId: urlParams.get('docapp-discount-inst-test') })
          );
        }
      })();
    </script>

    <script id="docapp-volume-speedup">
      (() => {
        if (
          !document.documentElement.innerHTML.includes('\\/shop' + '\\/js' + '\\/shopdocs-volume-discounts.min.js') ||
          window.shopdocsVolumeDiscountsAppLoaded
        )
          return;
        let script = document.createElement('script');
        script.src =
          'https://d2e5xyzdl0rkli.cloudfront.net/shop/js/shopdocs-volume-discounts.min.js?shop=25home.myshopify.com';
        document.getElementById('docapp-volume-speedup').after(script);
      })();
    </script>

    <script id="docapp-cart">
      window.docappCart = {{ cart | json }}; window.docappCart.currency = "{{ 0 | money_with_currency | slice: -3, 3 }}"; window.docappCart.shop_currency = "{{ shop.currency }}";
    </script>
    <script id="docapp-free-item-speedup">
      (() => {
        if (
          !document.documentElement.innerHTML.includes('\\/shop' + '\\/js' + '\\/free-gift-cart-upsell-pro.min.js') ||
          window.freeGiftCartUpsellProAppLoaded
        )
          return;
        let script = document.createElement('script');
        script.src =
          'https://d2fk970j0emtue.cloudfront.net/shop/js/free-gift-cart-upsell-pro.min.js?shop=25home.myshopify.com';
        document.getElementById('docapp-free-item-speedup').after(script);
      })();
    </script>

    <script>
      (() => {
        const installerKey = 'docapp-free-gift-auto-install';
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get(installerKey)) {
          window.sessionStorage.setItem(
            installerKey,
            JSON.stringify({
              integrationId: urlParams.get('docapp-integration-id'),
              divClass: urlParams.get('docapp-install-class'),
              check: urlParams.get('docapp-check'),
            })
          );
        }
      })();
    </script>

    <script>
      (() => {
        const previewKey = 'docapp-free-gift-test';
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get(previewKey)) {
          window.sessionStorage.setItem(
            previewKey,
            JSON.stringify({ active: true, integrationId: urlParams.get('docapp-free-gift-inst-test') })
          );
        }
      })();
    </script> {% endcomment %}

    <!-- Start Vibe Code -->
    <script>
      !(function (v, i, b, e, c, o) {
        if (!v[c]) {
          var s = (v[c] = function () {
            s.process ? s.process.apply(s, arguments) : s.queue.push(arguments);
          });
          (s.queue = []), (s.b = 1 * new Date());
          var t = i.createElement(b);
          (t.async = !0), (t.src = e);
          var n = i.getElementsByTagName(b)[0];
          n.parentNode.insertBefore(t, n);
        }
      })(window, document, 'script', 'https://s.vibe.co/vbpx.js', 'vbpx');
      vbpx('init', 'e2RXut');
      vbpx('event', 'page_view');
    </script>
    <!-- End Vibe Code -->

  </head>

  <body
    class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}"
    data-center-text="{{ settings.type_body_align_text }}"
    data-button_style="{{ settings.button_style }}"
    data-type_header_capitalize="{{ settings.type_header_capitalize }}"
    data-type_headers_align_text="{{ settings.type_headers_align_text }}"
    data-type_product_capitalize="{{ settings.type_product_capitalize }}"
    data-swatch_style="{{ settings.swatch_style }}"
    {% if settings.disable_animations %}
      data-disable-animations="true"
    {% endif %}
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NV9862J"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>
    {% comment %} 秒杀倒计时 {% endcomment %}
    {%- section 'input-countdown' -%}
    <div id="PageContainer" class="page-container">
      <div class="transition-body">
        {%- section 'header' -%}

        <main class="main-content" id="MainContent">
          {{ content_for_layout }}
        </main>

        {%- section 'footer-promotions' -%}
        {%- section 'footer' -%}
      </div>
    </div>
    {%- section 'newsletter-popup' -%}

    {%- liquid
      render 'video-modal'
      render 'photoswipe-template'
    -%}
    {{ shop.metafields.loox.global_html_body }}
    {% comment %} 返回顶部 {% endcomment %}
    {% render 'back-to-the-top' %}
  </body>
</html>

<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.1.5) -->
{% if cart.currency.iso_code == shop.currency %}
  <script type="text/javascript">
    // Overrides:
    // var afterpay_min = 1.00;       // As per your Afterpay contract.
    // var afterpay_max = 2000.00;    // As per your Afterpay contract.
    // var afterpay_msg_size = 'sm';  // Can be 'xs', 'sm', 'md' or 'lg'.
    // var afterpay_bold_amount = true;
    // var afterpay_logo_theme = 'colour';  // Can be 'colour', 'black' or 'white'.
    // var afterpay_modal_open_icon = true;
    // var afterpay_hide_upper_limit = fasle;
    // var afterpay_hide_lower_limit = true;
    // var afterpay_show_if_outside_limits = true;
    // var afterpay_cbt_enabled = false;
    // var afterpay_apr_loans_available = false;

    // var afterpay_product_integration_enabled = true;
    var afterpay_product_selector = '#product-prices';
    // var afterpay_variable_price_fallback = true;
    var afterpay_variable_price_fallback_selector = '#price-fallback-selectors';
    // var afterpay_variable_price_fallback_method = 'mutation';  // Can be 'mutation' or 'interval'.

    // var afterpay_cart_integration_enabled = true;
    var afterpay_cart_static_selector = '#cart-subtotal-selector';
    // var afterpay_variable_subtotal_fallback = false;
    // var afterpay_variable_subtotal_fallback_selector = '';
    // var afterpay_variable_subtotal_fallback_method = 'mutation'; // Can be 'mutation' or 'interval'.
    // var afterpay_cart_dynamic_integration_enabled = false;

    // var afterpay_footer_logo_enabled = true;
    // var afterpay_footer_logo_format = 'icon';  // Can be 'icon', 'stacked' or 'logo'.
    // var afterpay_footer_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
    // var afterpay_footer_logo_background = 'border';  // Can be 'border' or 'transparent'.
    // var afterpay_footer_logo_container = 'footer ul.payment-icons';
    // var afterpay_footer_logo_template = '<li class="payment-icon"><object data="{logo_path}" type="image/svg+xml"></object></li>';

    // Non-editable fields:
    var afterpay_js_language = {{ localization.language.iso_code | slice: 0, 2 | json }};
    var afterpay_js_country = {{ localization.country.iso_code | json }};
    var afterpay_shop_currency = {{ shop.currency | json }};
    var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
    var afterpay_shop_money_format = {{ shop.money_format | json }};
    var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
    var afterpay_theme_name = {{ theme.name | json }};
    var afterpay_product = {{ product | json }};
    var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
    var afterpay_cart_total_price = {{ cart.total_price | json }};
    var afterpay_js_snippet_version = '1.1.5';
  </script>
  <script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>
{% else %}
  <!-- Afterpay disabled: {{ cart.currency.iso_code }} != {{ shop.currency }} -->
{% endif %}
<!-- End Shopify-Afterpay JavaScript Snippet (v1.1.5) -->

{% comment %} <script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=b1f48f46-3973-4f53-94f2-3ca2da1ae60c"></script> {% endcomment %}

<script>
  var timeoutId;
  function tryAddCloseButton() {
    var launcherWrapper = document.getElementById('launcher-wrapper');
    if (launcherWrapper) {
      clearTimeout(timeoutId);
      var closeButton = document.createElement('div');
      closeButton.textContent = '×';
      closeButton.style.position = 'absolute';
      closeButton.style.left = '20px';
      closeButton.style.top = '-25px';
      closeButton.style.padding = '5px';
      closeButton.style.color = '#a8a8a8';
      closeButton.style.fontFamily = 'Arial, Helvetica, sans-serif';
      closeButton.style.fontSize = '16px';
      closeButton.style.fontWeight = '700';
      closeButton.style.lineHeight = '13px';
      closeButton.style.pointerEvents = 'all';

      closeButton.addEventListener('click', function () {
        launcherWrapper.style.display = 'none';
      });

      launcherWrapper.appendChild(closeButton);
    } else {
      timeoutId = setTimeout(tryAddCloseButton, 1000);
    }
  }

  timeoutId = setTimeout(tryAddCloseButton, 1000);
</script>
