<div class="page-width page-width--narrow">
  {%- if section.settings.title != blank -%}
    <header class="section-header">
      <h2 class="section-header__title">
        {{ section.settings.title | escape }}
      </h2>
    </header>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    {%- for block in section.blocks -%}
      <div {{ block.shopify_attributes }}>
        {% case block.type %}
          {% when 'strongs'%}
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
                {%- render 'collapsible-icons-alt', no_circle: true -%}
                <span itemprop="name">{{ block.settings.title }}</span>
              </button>
              <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-content--all" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div class="collapsible-content__inner collapsible-content__inner--faq rte" itemprop="text">
                  {{ block.settings.text }}
                </div>
              </div>
            </div>
        {% endcase %}
      </div>
    {%- endfor -%}
  {%- endif -%}
</div>


{% schema %}
  {
    "name": "组合购买",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "测试"
      }
    ],
    "blocks": [
      {
        "type": "strongs",
        "name": "strongs",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question",
            "default": "Frequently asked question"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
          }
        ]
      }
    ],
    "presets": [{
      "name": "组合购买",
      "blocks": [
        {
          "type": "strongs"
        },
        {
          "type": "strongs"
        }
      ]
    }]
  }
{% endschema %}
