<header class="section-header-amend">
  {%- render 'breadcrumbs' -%}
</header>
<div class="main-feathers-sofa">
  <div class="bannders_img">
    <a class="bannder_a" href="{{ block.settings.links }}"></a>
    <img class="shemei_img" src="{{ block.settings.bannder_img | img_url: 'master' }}" alt="img">
    <div class="hander-title-h6">
      <div class="title-t">25Home<div class="R">R</div></div>
      <div class="title-f">Original Design by</div>
    </div>
    <div class="bannder_code">
      <div class="bannder_title1">feathers sofa</div>
      <div class="bannder_title2">EXTRA <span style="color:#FFD68C">{{ block.settings.title }}</span></div>
      <div class="bannder_title3">USE CODE: {{ block.settings.title2 }} <div class="shopnow">shop now</div></div>
    </div>
  </div>
  <div class="width_box carousel-wrapper">
    <div class="swiper">
      <div class="swiper-wrapper">
          <div class="swiper-slide"><a href="https://25home.com/collections/plume-sofa/products/aalto-boutique-white-plume-sectional?variant=43395027828963"><img src="{{ '222.png' | asset_url }}" alt="img"></a></div>
          <div class="swiper-slide"><a href="https://25home.com/collections/plume-sofa/products/aalto-boutique-dark-grey-polyester-plume-sectional?variant=43395057385699"><img src="{{ '1010.png' | asset_url }}" alt="img"></a></div>
          <div class="swiper-slide"><a href="https://25home.com/collections/plume-sofa/products/aalto-boutique-linen-plume-sectional?variant=43863080173795"><img src="{{ '444.png' | asset_url }}" alt="img"></a></div>
          <div class="swiper-slide"><a href="https://25home.com/collections/plume-sofa/products/aalto-boutique-blue-plume-sectional?variant=44175107195107"><img src="{{ '555.png' | asset_url }}" alt="img"></a></div>
          <div class="swiper-slide"><a href="https://25home.com/collections/plume-sofa/products/aalto-boutique-blue-plume-sectional?variant=44175121449187"><img src="{{ '333.png' | asset_url }}" alt="img"></a></div>
          <div class="swiper-slide"><a href="https://25home.com/collections/plume-sofa/products/aalto-boutique-vegan-leather-plume-sectional?variant=43866731774179"><img src="{{ '666.png' | asset_url }}" alt="img"></a></div>
          <div class="swiper-slide"><a href="https://25home.com/collections/plume-sofa/products/aalto-boutique-boucle-white-plume-sectional?variant=43844850942179"><img src="{{ '777.png' | asset_url }}" alt="img"></a></div>
          <div class="swiper-slide"><a href="https://25home.com/collections/plume-sofa/products/aalto-boutique-dark-gray-plume-sectional?variant=42796168544483"><img src="{{ '888.png' | asset_url }}" alt="img"></a></div>
          <div class="swiper-slide"><a href="https://25home.com/collections/plume-sofa/products/aalto-boutique-vegan-leather-plume-sectional?variant=43866732134627"><img src="{{ '999.png' | asset_url }}" alt="img"></a></div>
      </div>
      <div class="swiper-button-prev swiper-button-top"><</div>
      <div class="swiper-button-next swiper-button-top">></div>
    </div>
  </div>

  <div class="feathers-Equilibrium">
    <img class="lazyload shemei_img" src="{{ 'Equilibrium.png' | asset_url }}" alt="img">
  </div>

  <div class="width_box feathers-box">
    <div class="feathers-feature">
      <div class="rows-item text-rights">
        <div class="item-title">Disassemble<div class="item-title-bg">25 Home</div></div>
        <div class="item-font">The thoughtful zipper design allows the cover of the Plume couch to be removed, making it easy to wash and clean. The covers are made of a breathable fabric that is machine washable, keeping your feather sofa fresh.</div>
      </div>
      <img class="items_img" src="{{ 'Disassemble.gif' | asset_url }}" alt="img">
    </div>
    <div class="feathers-feature">
      <img class="items_img text-rights" src="{{ 'modular design.gif' | asset_url }}" alt="img">
      <div class="rows-item">
        <div class="item-title">modular design<div class="item-title-bg">25 Home</div></div>
        <div class="item-font">Our Plume feather sofa has a modular design so you can customize your configuration to perfectly fit your space.</div>
        <div class="item-btn">shop now</div>
      </div>
    </div>
    <div class="feathers-feature">
      <div class="rows-item text-rights">
        <div class="item-title">BETTER MATERIALS<div class="item-title-bg">25 Home</div></div>
        <div class="item-font">With removable and washable sofa covers, the Plume Sectional Sofa offers the perfect solution for hassle-free cleaning. The material is wear-resistant and scratch-resistant. Sofa covers can be easily removed for cleaning and replacement. The high-density foam and fluffy feathers embrace your body, making it your favorite place to relax for the next decades.</div>
      </div>
      <img class="items_img" src="{{ 'BETTER MATERIALS.gif' | asset_url }}" alt="img">
    </div>
  </div>

  <div class="feathers-gongyi">
    <img  class="lazyload shemei_img" src="{{ 'gongyi.png' | asset_url }}" alt="img" >
    <div class="gongyi-hander">
      <div class="gongyi-title">Unique Sturdy & Built to Last Over a Decade</div>
      <div class="gongyi-text">
        Our Feathers sofa provides up to 10 years of unwavering comfort and support thanks to its premium materials and expert craftsmanship. Sink into plush relaxation you can enjoy today and for years to come. From the chrome-plated iron latch to the wood frame, every part of our furniture is well-chosen for durability. The maximum weight capacity is 500 pounds per seat.</div>
    </div>
  </div>

  <div class="width_box feathers-Diverse">
    <div class="feathers-feature">
      <div class="rows-item">
        <div class="item-title">Diverse Colors<div class="item-title-bg">25 Home</div></div>
        <div class="item-font">Choose from 9 stylish colors to find the perfect match for your home's décor. From rich bold tones to airy neutrals, our spectrum of shade options ensures there’s a Feathers sofa to complement your personal taste and space. And we offer free color swatches.</div>
        <div class="item-btn"><a>shop now</a></div>
      </div>
      <img class="items_img" src="{{ 'Versatile Sofa Legs.gif' | asset_url }}" alt="img">
    </div>
    <div class="feathers-feature">
      <div class="rows-item">
        <div class="item-title item-title-s">Versatile Sofa Legs</div>
        <div class="item-font">Free Sofa Legs Included! The sofa legs come with 2 installation options: flush with the ground or 3inches above the ground, providing convenience for using a robotic vacuum cleaner and other tools for easy cleaning.</div>
        <div class="item-btn"><a>shop now</a></div>
      </div>
      <img class="items_img" src="{{ 'Diverse Colors.gif' | asset_url }}" alt="img">
    </div>
    <div class="feathers-feature">
      <div class="rows-item">
        <div class="item-title item-title-s">Easy Assembly 10- 15 Mins</div>
        <div class="item-font">With just a 'click,' our special toggle latch design ensures furniture assembly is as effortless as building with LEGO blocks. A one-step solution that frees your hands, without the burden of instruction manual.</div>
        <div class="item-btn"><a>shop now</a></div>
      </div>
      <img class="items_img" src="{{ 'Easy Assembly.png' | asset_url }}" alt="img">
    </div>
  </div>

  <div class="feathers-footer">
    <div class="width_box footer-font">
      <div class="footer-left">
        <div class="footer-handers"> 
          <div class="footer-handers-title">Frequently</div>
          <div class="footer-handers-title">Asked Questions</div>
          <div class="footer-handers-title2">Still having questions? Visit our <a href="/pages/faqs" target="_blank">FAQs</a> or <a href="/pages/contact" target="_blank">Contact Us</a>.</div>
        </div>
        <div class="footer-btns" id="backToTopBtns">back to top</div>
      </div>
      <div class="footer-right">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {% when 'question'%}
              <div class="accordion-item footer-right-item">
                <button type="button" class="accordion-header">
                  <span class="toggle-title">{{ block.settings.title }}</span>
                  <span class="toggle-icon">+</span>
                </button>
                <div class="accordion-content" >
                    {{ block.settings.text }}
                </div>
              </div>
          {% endcase %}
      {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "main-page-feathers-sofa",
  "class": "main-page-feathers-sofa",
  "blocks": [
    {
      "type": "bannder",
      "name": "bannder",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "bannder_img",
          "label": "bannder_img"
        },
        {
          "type": "url",
          "id": "links",
          "label": "link"
        },
        {
          "type": "text",
          "id": "title",
          "label": "EXTRA",
          "default": "15% OFF"
        },
        {
          "type": "text",
          "id": "title2",
          "label": "USE CODE",
          "default": "SUPER15"
        }
      ]
    },
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Frequently asked question"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
        }
      ]
    }
  ],
  "presets": [{
    "name": "main-page-feathers-sofa",
    "blocks": [
      {
        "type": "question"
      }
    ]
  }]
}
{% endschema %}
<style>
  .feathers-footer{
    background: url("{{ 'feathers-footerbg.png' | asset_url }}");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 79rem;
  }
</style>
<script>
  var deviceWidth
  setHtmlFontSize()
  if (window.addEventListener) {
    window.addEventListener('resize', function () {
        setHtmlFontSize()
    }, false)
  }
  function setHtmlFontSize () {
      deviceWidth = document.documentElement.clientWidth > 1920 ? 1920 : document.documentElement.clientWidth
      document.getElementsByTagName('html')[0].style.cssText = 'font-size:' + deviceWidth / 100 + 'px !important'
  }


  var mySwiper = new Swiper ('.swiper', {
    loop: true, // 循环模式选项
    autoplay: {
      delay: 3000,//1秒切换一次
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  })
  $('#backToTopBtns').click(function() {
    $('html, body').animate({ scrollTop: 0 }, 'slow');
  });
</script>