<div class="page-width page-content">
  {%- render 'breadcrumbs' -%}

  <header class="section-header text-center{% if cart.item_count == 0 %} section-header--404{% endif %}">
    <h1 class="section-header__title">{{ 'cart.general.title' | t }}</h1>
    <div class="rte text-spacing">
      {%- if cart.item_count == 0 -%}
        <p>{{ 'cart.general.empty' | t }}</p>
      {%- endif -%}
      <p>{{ 'cart.general.continue_browsing_html' | t: url: routes.all_products_collection_url }}</p>
    </div>
    <div class="cart_explain_title" style="text-align: left;">
      <p><i class="fa fa-check"></i> Free Shipping: Free shipping for curbside delivery</p>
      <p><i class="fa fa-check"></i> 30-Day Hassle-Free Returns: You have a full 30 days to return it hassle-free</p>
      <p><i class="fa fa-check"></i> Warranty: One-year limited warranty</p>
    <div>
  </header>


  {%- if cart.item_count > 0 -%}
    <form action="{{ routes.cart_url }}" method="post" novalidate data-location="page" id="CartPageForm">
      <div class="cart__page">
        {% comment %} 购物车页面产品列表 {% endcomment %}
        <div data-products class="cart__page-col">
          {% for item in cart.items %}
            {%- render 'cart-item', product: item -%}
          {%- endfor -%}
          {% comment %} <div class="code-hint">Flash sale items can't be applied to discount code</div> {% endcomment %}
        </div>
        {% comment %} 购物车页面结算{% endcomment %}
        <div class="cart__page-col">
          {% if settings.cart_notes_enable %}
            <div>
              <label for="CartNote">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full cart-notes" id="CartNote">{{ cart.note }}</textarea>
            </div>
          {% endif %}

          <div data-discounts>
            {% if cart.cart_level_discount_applications != blank %}
              <div class="cart__discounts cart__item-sub cart__item-row">
                <div>{{ 'cart.general.discounts' | t }}</div>
                <div class="text-right">
                  {% for cart_discount in cart.cart_level_discount_applications %}
                    <div class="cart__discount">
                      {{ cart_discount.title }} (-{{ cart_discount.total_allocated_amount | money }})
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>

          <div class="cart__item-sub cart__item-row" id='cart-subtotal-selector'>
            <div>
              <span id="revy-cart-subtotal-label">{{ 'cart.general.subtotal' | t }}</span>
            </div>
            <div data-subtotal>
              <span class="saso-cart-original-total"
                ><span id="revy-cart-subtotal-price">{{ cart.total_price | money }}</span></span
              >
              <span class="saso-cart-total"></span>
            </div>
          </div>

          {% if settings.cart_terms_conditions_enable %}
            <div class="cart__item-row cart__terms">
              <input type="checkbox" id="CartTerms" class="cart__terms-checkbox">
              <label for="CartTerms">
                {% if settings.cart_terms_conditions_link != blank %}
                  {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_link }}
                {% else %}
                  {{ 'cart.general.terms' | t }}
                {% endif %}
              </label>
            </div>
          {% endif %}

          <div class="cart__item-row cart__checkout-wrapper">
            <button
              type="submit"
              name="checkout"
              data-terms-required="{{ settings.cart_terms_conditions_enable }}"
              class="btn cart__checkout"
            >
              {{ 'cart.general.checkout' | t }}
            </button>

            {% if additional_checkout_buttons and settings.cart_additional_buttons %}
              <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}
          </div>

          <div class="cart__item-row text-center">
            <small>
              {{ 'cart.general.shipping_at_checkout' | t -}}
              <br>
            </small>
          </div>
          <div class="payment_security_title">
            <span><i class="iconfont icon-yinxingqia"> </i>Payment Security</span>
            <p>Your payment information is safe with us. 25Home does not share your information with others.</p>
          </div>
          <ul class="inline-list payment-icons footer__section">
            {%- for type in shop.enabled_payment_types -%}
              <li class="icon--payment">
                {{ type | payment_type_svg_tag }}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </form>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Cart page"
}
{% endschema %}

<script id="docapp-discount-speedup">
  (() => {
    if (
      !document.documentElement.innerHTML.includes('\\/shop' + '\\/js' + '\\/discount-on-cart-pro.min.js') ||
      window.discountOnCartProAppLoaded
    )
      return;
    let script = document.createElement('script');
    script.src = 'https://d9fvwtvqz2fm1.cloudfront.net/shop/js/discount-on-cart-pro.min.js?shop=25home.myshopify.com';
    document.getElementById('docapp-discount-speedup').after(script);
  })();
</script>
<script>
  //const cart_discount = JSON.parse(localStorage.getItem('asCartContents'));
  //console.log(cart_discount,'cart_discountcart_discount')
  // 获取包含日期范围的 data-get-value 属性内容
  const expressageTypeElement = document.querySelectorAll('#cart_expressage_type');
  if (expressageTypeElement.length > 0) {
    expressageTypeElement.forEach(item => {
      const dataGetValue = item.getAttribute('data-get-value');
      // 解析日期范围
      const dateRangeMatch = dataGetValue.match(/(\d{1,2}-\d{1,2}) business days delivery/);
      if (dateRangeMatch) {
        // 提取日期范围
        const dateRange = dateRangeMatch[1];

        // 获取当前日期
        const today = new Date();

        // 解析日期范围的开始和结束天数
        const [startDay, endDay] = dateRange.split('-').map(Number);

        // 计算未来日期范围的起始日期和结束日期
        const startDate = new Date(today);
        startDate.setDate(today.getDate() + startDay);
        let endDate = new Date(today);
        endDate.setDate(today.getDate() + endDay);

        // 获取今天是星期几（0 表示星期日，1 表示星期一，以此类推）
        const dayOfWeek = today.getDay();

        // 如果今天是星期六，加2天；如果今天是星期天，加1天
        if (dayOfWeek === 6) {
          endDate.setDate(endDate.getDate() + 2);
        } else if (dayOfWeek === 0) {
          endDate.setDate(endDate.getDate() + 1);
        }
      
        // 格式化日期为 "YYYY/MM/DD"
        const startDateFormatted = `${startDate.getFullYear()}/${(startDate.getMonth() + 1).toString().padStart(2, '0')}/${startDate.getDate()}`;
        const endDateFormatted = `${endDate.getFullYear()}/${(endDate.getMonth() + 1).toString().padStart(2, '0')}/${endDate.getDate()}`;
        // 更新 p 标签内容
        item.textContent ='Estimated between: '+ startDateFormatted + " - " + endDateFormatted ; 
      }
    })
  }
</script>
<style>
  @media only screen and (min-width: 601px) {
    {% comment %} .code-hint{
      font-weight:600;
      font-size:18px;
      margin-bottom: 10px;
    } {% endcomment %}
    .code-hint{
      flex: 1 1 100%;
      text-align: right;
      font-weight: 600;
      font-size: 12px;
      margin-bottom: 10px;
      color: #cb2929;
    }
  }
  @media only screen and (max-width:600px){
    .code-hint{
      font-weight:600;
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 10px;
      color: #cb2929;
    }
  }
  .count-down-list {
    flex: 1 1 100%;
    text-align: right;
    color: #cb2929;
    font-weight: 600;
    font-size: 12px;
  }

  .count-down-list .number {
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
  }
  .count-down-list .dian {
    padding: 0px 3px;
  }
  .cj_compare_at_price{
    text-decoration: line-through;
    color: #cb2929;
  }
</style>