{% comment %} <header class="section-header-amend">
  {%- render 'breadcrumbs' -%}
</header> {% endcomment %}
{% assign has_mobile_image = false %}
{%- for block in section.blocks -%}
  {% if block.settings.mobile_img != blank and block.type == 'bannder'  %}
    {% assign has_mobile_image = true %}
  {% endif %}
{%- endfor -%}
<div class="main-feathers-sofa">
  {%- for block in section.blocks -%}
    {% case block.type %}
      {% when 'bannder'%}
        <div class="bannders_img feathers-margin-bottom">
          <a class="bannder_a" href="{{ block.settings.links }}"></a>
          <img class="shemei_img{% if has_mobile_image %} small--hide{% endif %}" src="{{ block.settings.bannder_img | img_url: 'master' }}" alt="img">
          {%- if has_mobile_image -%}
            <img class="shemei_img medium-up--hide" src="{{ block.settings.mobile_img | img_url: 'master' }}" alt="img">
          {% endif %}
          <div class="hander-title-h6">
            <div class="title-t">25Home<div class="R">R</div></div>
            <div class="title-f">Original Design by</div>
          </div>
          <div class="bannder_code">
            <div class="bannder_title1">feathers sofa</div>
            <div class="bannder_title2">EXTRA <span style="color:#FFD68C">{{ block.settings.banndertitle }}</span></div>
            <div class="bannder_title3">USE CODE: {{ block.settings.banndertitle2 }} <div class="shopnow">shop now</div></div>
          </div>
        </div>
    {% endcase %}
  {%- endfor -%}


  <div class="mobiledis">
    <div class="width_box carousel-wrapper feathers-margin-bottom">
      <div class="swiper">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {% when 'swiper_wrapper'%}
                <div class="swiper-slide">
                  <a href="{{ block.settings.swiper_link }}">
                    <img src="{{ block.settings.swiper_img | img_url: 'master' }}" class="{% if has_mobile_image %} small--hide{% endif %}" alt="img">
                    {%- if has_mobile_image -%}
                      <img class="medium-up--hide" src="{{ block.settings.mobile_img | img_url: 'master' }}" alt="{{ block.settings.mobile_img.alt }}">
                    {% endif %}
                  </a>
                </div>
              {% endcase %}
            {%- endfor -%}
        </div>
        <!-- <div class="swiper-button-prev swiper-button-top"><</div>
        <div class="swiper-button-next swiper-button-top">></div> -->
      </div>
    </div>
    {%- for block in section.blocks -%}
      {% case block.type %}
        {% when 'feathers_Equilibrium'%}
        <div class="feathers-Equilibrium feathers-margin-bottom">
          <img class="lazyload shemei_img {% if has_mobile_image %} small--hide{% endif %}" src="{{ block.settings.Equilibrium_img | img_url: 'master' }}" alt="img">
          {%- if has_mobile_image -%}
            <img class="shemei_img medium-up--hide" src="{{ block.settings.Equilibrium_mobile_img | img_url: 'master' }}" alt="img">
          {% endif %}
        </div>
      {% endcase %}
    {%- endfor -%}
  </div>

  {%- for block in section.blocks -%}
    {% case block.type %}
      {% when 'feathers_box'%}
      <div class="width_box feathers-box feathers-margin-bottom {% if has_mobile_image %} small--hide{% endif %}">
        <div class="feathers-feature-box">
          <div class="rows-item text-rights">
            <div class="item-title">{{ block.settings.one_title }}<div class="item-title-bg">25 Home</div></div>
            <div class="item-font">{{ block.settings.one_content }}</div>
          </div>
          <img class="items_img" src="{{ block.settings.one_img | img_url: 'master' }}" alt="img">
        </div>
        <div class="feathers-feature-box">
          <img class="items_img text-rights" src="{{ block.settings.two_img | img_url: 'master' }}" alt="img">
          <div class="rows-item">
            <div class="item-title">{{ block.settings.two_title }}<div class="item-title-bg">25 Home</div></div>
            <div class="item-font">{{ block.settings.two_content }}</div>
            <div class="item-btn"><a href="{{ block.settings.two_link }}">shop now</a></div>
          </div>
        </div>
        <div class="feathers-feature-box">
          <div class="rows-item text-rights">
            <div class="item-title">{{ block.settings.three_title }}<div class="item-title-bg">25 Home</div></div>
            <div class="item-font">{{ block.settings.three_content }}</div>
          </div>
          <img class="items_img" src="{{ block.settings.three_img | img_url: 'master' }}" alt="img">
        </div>
      </div>
      {%- if has_mobile_image -%}
        <div class="width_box feathers-box_mobile medium-up--hide">
          <div class="feathers-feature-box">
            <div class="rows-item">
              <div class="item-title">{{ block.settings.one_title }}<div class="item-title-bg">25 Home</div></div>
              <div class="item-font">{{ block.settings.one_content }}</div>
            </div>
            <img class="items_img" src="{{ block.settings.one_img | img_url: 'master' }}" alt="img">
          </div>
          <div class="feathers-feature-box">
            <div class="rows-item">
              <div class="item-title">{{ block.settings.two_title }}<div class="item-title-bg">25 Home</div></div>
              <div class="item-font">{{ block.settings.two_content }}</div>
            </div>
            <img class="items_img item-btn-margin" src="{{ block.settings.two_img | img_url: 'master' }}" alt="img">
            <div class="item-btn"><a href="{{ block.settings.two_link }}">shop now</a></div>
          </div>
          <div class="feathers-feature-box">
            <div class="rows-item">
              <div class="item-title">{{ block.settings.three_title }}<div class="item-title-bg">25 Home</div></div>
              <div class="item-font">{{ block.settings.three_content }}</div>
            </div>
            <img class="items_img" src="{{ block.settings.three_img | img_url: 'master' }}" alt="img">
          </div>
        </div>
      {% endif %}
    {% endcase %}
  {%- endfor -%}


  {%- for block in section.blocks -%}
    {% case block.type %}
      {% when 'feathers_gongyi'%}
      <div class="feathers-gongyi feathers-margin-bottom {% if has_mobile_image %} small--hide{% endif %}">
        <img  class="lazyload shemei_img" src="{{ block.settings.gongyi_img | img_url: 'master' }}" alt="img" >
        <div class="gongyi-hander">
          <div class="gongyi-title">{{ block.settings.gongyi_title }}</div>
          <div class="gongyi-text">{{ block.settings.gongyi_content }}</div>
        </div>
      </div>
      {%- if has_mobile_image -%}
        <img  class="lazyload shemei_img gongyi_mobile_img medium-up--hide"  src="{{ block.settings.gongyi_mobile_img | img_url: 'master' }}" alt="img" >
      {% endif %}
    {% endcase %}
  {%- endfor -%}

  <div class="mobiledis">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {% when 'feathers_Diverse'%}
        <div class="width_box feathers-Diverse feathers-margin-bottom {% if has_mobile_image %} small--hide{% endif %}">
          <div class="feathers-feature">
            <div class="rows-item">
              <div class="item-title">{{ block.settings.one_title }}<div class="item-title-bg">25 Home</div></div>
              <div class="item-font">{{ block.settings.one_content }}</div>
              <div class="item-btn"><a href="{{ block.settings.Diverseone_link }}">shop now</a></div>
            </div>
            <img class="items_img" src="{{ block.settings.Diverseone_img | img_url: 'master' }}" alt="img">
          </div>
          <div class="feathers-feature">
            <div class="rows-item">
              <div class="item-title item-title-s">{{ block.settings.two_title }}</div>
              <div class="item-font">{{ block.settings.two_content }}</div>
              <div class="item-btn"><a href="{{ block.settings.Diversetwo_link }}">shop now</a></div>
            </div>
            <img class="items_img" src="{{ block.settings.Diversetwo_img | img_url: 'master' }}" alt="img">
          </div>
          <div class="feathers-feature">
            <div class="rows-item">
              <div class="item-title item-title-s">{{ block.settings.three_title }}</div>
              <div class="item-font">{{ block.settings.three_content }}</div>
              <div class="item-btn"><a href="{{ block.settings.Diversethree_link }}">shop now</a></div>
            </div>
            <img class="items_img" src="{{ block.settings.Diversethree_img | img_url: 'master' }}" alt="img">
          </div>
        </div>
        {%- if has_mobile_image -%}
          <div class="width_box feathers-Diverse feathers-margin-bottom medium-up--hide">
            <div class="feature-mobile1">
              <div class="item-title">{{ block.settings.one_title }}<div class="item-title-bg">25 Home</div></div>
              <a href="{{ block.settings.Diverseone_link }}">
                <img class="items_img" src="{{ block.settings.Diverseone_mobile_img | img_url: 'master' }}" alt="img">
              </a>
              <div class="item-font">{{ block.settings.one_content }}</div>
            </div>
            <div class="feathers-feature feature-mobile2">
              <img class="items_img" src="{{ block.settings.Diversetwo_mobile_img | img_url: 'master' }}" alt="img">
              <div class="rows-item">
                <div class="item-title item-title-s">{{ block.settings.two_title }}</div>
                <div class="item-font">{{ block.settings.two_content }}</div>
                <div class="item-btn"><a href="{{ block.settings.Diversetwo_link }}">shop now</a></div>
              </div>
            </div>
            <div class="feathers-feature feature-mobile3">
              <div class="rows-item">
                <div class="item-title item-title-s">{{ block.settings.three_title }}</div>
                <div class="item-font">{{ block.settings.three_content }}</div>
                <div class="item-btn"><a href="{{ block.settings.Diversethree_link }}">shop now</a></div>
              </div>
              <img class="items_img" src="{{ block.settings.Diversethree_mobile_img | img_url: 'master' }}" alt="img">
            </div>
          </div>
        {% endif %}
      {% endcase %}
    {%- endfor -%}

    <div class="feathers-fabric feathers-margin-bottom">
      <div class="width_box fabric-font">
        <div class="item-title">TEXTURE FABRIC<div class="item-title-bg">25 Home</div></div>
        <div class="grid-container">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {% when 'feathers_fabric'%}
                  <a href="{{ block.settings.fabric_link }}" class="grid-item">
                    {% comment %} <div class="grid-item"> {% endcomment %}
                        <img src="{{ block.settings.fabric_img | img_url: 'master' }}" alt="img" >
                        <div class="right_box">
                          <div class="icon_list">
                            <img src="{{ block.settings.icon_img1 | img_url: 'master' }}" alt="img" >
                            <img src="{{ block.settings.icon_img2 | img_url: 'master' }}" alt="img" >
                            <img src="{{ block.settings.icon_img3 | img_url: 'master' }}" alt="img" >
                            <img src="{{ block.settings.icon_img4 | img_url: 'master' }}" alt="img" >
                          </div>
                          <div class="right_box_title">{{ block.settings.fabric_title }}</div>
                          <div class="right_box_text">{{ block.settings.fabric_text }}</div>
                          <div class="right_box_pice">from <span> ${{ block.settings.fabric_price }}</span></div>
                          <div class="right_box_btn">BUY NOW</div>
                      </div>
                    {% comment %} </div> {% endcomment %}
                  </a>
            {% endcase %}
          {%- endfor -%} 
        </div>
      </div>
    </div>

  </div>
  
  {%- for block in section.blocks -%}
    {% case block.type %}
      {% when 'feathers_ins'%}
      <div class="swiper-container feathers-margin-bottom">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="{{ block.settings.ins_img1 | img_url: 'master' }}" alt="img"></div>
          <div class="swiper-slide"><img src="{{ block.settings.ins_img2 | img_url: 'master' }}" alt="img"></div>
          <div class="swiper-slide"><img src="{{ block.settings.ins_img3 | img_url: 'master' }}" alt="img"></div>
          <div class="swiper-slide"><img src="{{ block.settings.ins_img4 | img_url: 'master' }}" alt="img"></div>
          <div class="swiper-slide"><img src="{{ block.settings.ins_img5 | img_url: 'master' }}" alt="img"></div>
        </div>
      </div>
    {% endcase %}
  {%- endfor -%}

  <div class="feathers-footer">
    <div class="width_box footer-font">
      <div class="footer-left">
        <div class="footer-handers"> 
          <div class="footer-handers-title">Frequently</div>
          <div class="footer-handers-title">Asked Questions</div>
          <div class="footer-handers-title2">Still having questions? Visit our <a href="/pages/faqs" target="_blank">FAQs</a> or <a href="/pages/contact" target="_blank">Contact Us</a>.</div>
        </div>
        <div class="footer-btns pc-footer-btns" id="backToTopBtns">back to top</div>
      </div>
      <div class="footer-right">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {% when 'question'%}
              <div class="accordion-item footer-right-item">
                <button type="button" class="accordion-header">
                  <span class="toggle-title">{{ block.settings.title }}</span>
                  <span class="toggle-icon">+</span>
                </button>
                <div class="accordion-content" >
                    {{ block.settings.text }}
                </div>
              </div>
          {% endcase %}
        {%- endfor -%}
      </div>
      <div class="mo-footer-btns" id="backToTopBtns">back to top</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "main-page-feathers-sofa",
  "class": "main-page-feathers-sofa",
  "settings": [
    {
      "type": "image_picker",
      "id": "fabric_pc_img",
      "label": "fabric-pc-背景图"
    },
    {
      "type": "image_picker",
      "id": "fabric_mobile_img",
      "label": "fabric-mobile-背景图"
    },
    {
      "type": "image_picker",
      "id": "footer_pc_img",
      "label": "footer-pc-背景图"
    },
    {
      "type": "image_picker",
      "id": "footer_mobile_img",
      "label": "footer-mobile-背景图"
    }
  ],
  "blocks": [
    {
      "type": "bannder",
      "name": "bannder",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "bannder_img",
          "label": "bannder_img"
        },
        {
          "type": "image_picker",
          "id": "mobile_img",
          "label": "Mobile image"
        },
        {
          "type": "url",
          "id": "links",
          "label": "link"
        },
        {
          "type": "text",
          "id": "banndertitle",
          "label": "EXTRA",
          "default": "15% OFF"
        },
        {
          "type": "text",
          "id": "banndertitle2",
          "label": "USE CODE",
          "default": "SUPER15"
        }
      ]
    },
    {
      "type": "swiper_wrapper",
      "name": "swiper_wrapper",
      "settings": [
        {
          "type": "image_picker",
          "id": "swiper_img",
          "label": "swiper_img"
        },
        {
          "type": "image_picker",
          "id": "mobile_img",
          "label": "mobile_img"
        },
        {
          "type": "url",
          "id": "swiper_link",
          "label": "link"
        }
      ]
    },
    {
      "type": "feathers_Equilibrium",
      "name": "feathers_Equilibrium",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "Equilibrium_img",
          "label": "Equilibrium_img"
        },
        {
          "type": "image_picker",
          "id": "Equilibrium_mobile_img",
          "label": "Equilibrium_mobile_img"
        }
      ]
    },
    {
      "type": "feathers_box",
      "name": "feathers_box",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "one_img",
          "label": "one_img"
        },
        {
          "type": "url",
          "id": "one_link",
          "label": "one_link"
        },
        {
          "type": "text",
          "id": "one_title",
          "label": "one_title"
        },
        {
          "type": "text",
          "id": "one_content",
          "label": "one_content"
        },
        {
          "type": "image_picker",
          "id": "two_img",
          "label": "two_img"
        },
        {
          "type": "url",
          "id": "two_link",
          "label": "two_link"
        },
        {
          "type": "text",
          "id": "two_title",
          "label": "two_title"
        },
        {
          "type": "text",
          "id": "two_content",
          "label": "two_content"
        },
        {
          "type": "image_picker",
          "id": "three_img",
          "label": "three_img"
        },
        {
          "type": "url",
          "id": "three_link",
          "label": "three_link"
        },
        {
          "type": "text",
          "id": "three_title",
          "label": "three_title"
        },
        {
          "type": "text",
          "id": "three_content",
          "label": "three_content"
        }
      ]
    },
    {
      "type": "feathers_gongyi",
      "name": "feathers_gongyi",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "gongyi_img",
          "label": "gongyi_img"
        },
        {
          "type": "image_picker",
          "id": "gongyi_mobile_img",
          "label": "gongyi_mobile_img"
        },
        {
          "type": "text",
          "id": "gongyi_title",
          "label": "gongyi_title"
        },
        {
          "type": "text",
          "id": "gongyi_content",
          "label": "gongyi_content"
        }
      ]
    },
    {
      "type": "feathers_Diverse",
      "name": "feathers_Diverse",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "Diverseone_img",
          "label": "Diverseone_img"
        },
        {
          "type": "image_picker",
          "id": "Diverseone_mobile_img",
          "label": "Diverseone_mobile_img"
        },
        {
          "type": "url",
          "id": "Diverseone_link",
          "label": "Diverseone_link"
        },
        {
          "type": "text",
          "id": "one_title",
          "label": "one_title"
        },
        {
          "type": "text",
          "id": "one_content",
          "label": "one_content"
        },
        {
          "type": "image_picker",
          "id": "Diversetwo_img",
          "label": "Diversetwo_img"
        },
        {
          "type": "image_picker",
          "id": "Diversetwo_mobile_img",
          "label": "Diversetwo_mobile_img"
        },
        {
          "type": "url",
          "id": "Diversetwo_link",
          "label": "Diversetwo_link"
        },
        {
          "type": "text",
          "id": "two_title",
          "label": "two_title"
        },
        {
          "type": "text",
          "id": "two_content",
          "label": "two_content"
        },
        {
          "type": "image_picker",
          "id": "Diversethree_img",
          "label": "Diversethree_img"
        },
        {
          "type": "image_picker",
          "id": "Diversethree_mobile_img",
          "label": "Diversethree_mobile_img"
        },
        {
          "type": "url",
          "id": "Diversethree_link",
          "label": "Diversethree_link"
        },
        {
          "type": "text",
          "id": "three_title",
          "label": "three_title"
        },
        {
          "type": "text",
          "id": "three_content",
          "label": "three_content"
        }
      ]
    },
    {
      "type": "feathers_fabric",
      "name": "feathers-fabric",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "fabric_img",
          "label": "fabric_img"
        },
        {
          "type": "image_picker",
          "id": "icon_img1",
          "label": "icon_img1"
        },
        {
          "type": "image_picker",
          "id": "icon_img2",
          "label": "icon_img2"
        },
        {
          "type": "image_picker",
          "id": "icon_img3",
          "label": "icon_img3"
        },
        {
          "type": "image_picker",
          "id": "icon_img4",
          "label": "icon_img4"
        },
        {
          "type": "text",
          "id": "fabric_title",
          "label": "title",
          "default": "polyester"
        },
        {
          "type": "text",
          "id": "fabric_text",
          "label": "text",
          "default": "Introducing our stylish and practical sofa covers crafted from high-quality white boucle fabric."
        },
        {
          "type": "text",
          "id": "fabric_price",
          "label": "price",
          "default": "200.00"
        },
        {
          "type": "url",
          "id": "fabric_link",
          "label": "fabric_link"
        }
      ]
    },
    {
      "type": "feathers_ins",
      "name": "feathers_ins",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "ins_img1",
          "label": "ins_img"
        },
        {
          "type": "image_picker",
          "id": "ins_img2",
          "label": "ins_img"
        },
        {
          "type": "image_picker",
          "id": "ins_img3",
          "label": "ins_img"
        },
        {
          "type": "image_picker",
          "id": "ins_img4",
          "label": "ins_img"
        },
        {
          "type": "image_picker",
          "id": "ins_img5",
          "label": "ins_img"
        }
      ]
    },
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Frequently asked question"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
        }
      ]
    }
  ],
  "presets": [{
    "name": "main-page-feathers-sofa",
    "blocks": [
      {
        "type": "question"
      }
    ]
  }]
}
{% endschema %}
{% style %}
  @media screen and (min-width: 760px) {
    .feathers-fabric{
      background: url("{{ section.settings.fabric_pc_img | img_url: 'master' }}");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 100%;
    }
    .feathers-footer{
      background: url("{{ section.settings.footer_pc_img | img_url: 'master' }}");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 79rem;
    }
  }
  @media screen and (max-width: 750px) {
    .feathers-fabric{
      background: url("{{ section.settings.fabric_mobile_img | img_url: 'master' }}");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 100%;
    }
    .feathers-footer{
      background: url("{{ section.settings.footer_mobile_img | img_url: 'master' }}");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 14rem;
    }
  }
{% endstyle %}
<script>
    var deviceWidth
    setHtmlFontSize()
    if (window.addEventListener) {
      window.addEventListener('resize', function () {
          setHtmlFontSize()
      }, false)
    }
    function setHtmlFontSize () {
      if (!getDeviceType()){
        deviceWidth = document.documentElement.clientWidth > 1920 ? 1920 : document.documentElement.clientWidth
        document.getElementsByTagName('html')[0].style.cssText = 'font-size:' + deviceWidth / 100 + 'px !important'
      } else {
        deviceWidth = document.documentElement.clientWidth
        document.getElementsByTagName('html')[0].style.cssText = 'font-size:' + (deviceWidth / 750) * 100 + 'px !important'
      }
    }

    if (!getDeviceType()){
      var moSwiper = new Swiper('.swiper-container',{
        loop: true,
        autoplay: {
          delay: 3000,
        },
        slidesPerView: 5,
        spaceBetween: 30,
      })
    } else {
      var moSwiper = new Swiper('.swiper-container',{
        direction: 'horizontal',
        loop: true,
        autoplay: {
          delay: 3000,
        },
        slidesPerView: "auto",
        centeredSlides: true,
        spaceBetween: 20,
      })
    }

  var mySwiper = new Swiper ('.swiper', {
    loop: true, // 循环模式选项
    autoplay: {
      delay: 3000,//1秒切换一次
    },
    // navigation: {
    //   nextEl: '.swiper-button-next',
    //   prevEl: '.swiper-button-prev',
    // },
  })
  $('.pc-footer-btns, .mo-footer-btns').click(function() {
    $('html, body').animate({ scrollTop: 0 }, 'slow');
  });
</script>