<div class="page-width">
  <div class="introduce" id="introduce">
    <div class="introduce-title"> {{ section.settings.title }}</div>
    <div class="introduce_box">
      <div class="introduce_current_variant">
        <div class="current_variant">
          {% assign lastOption = product.options_with_values | last %}
          {%- for value in lastOption.values -%}
            <button data-title="{{value}}" class="click_svariant">{{ value }}</button>
          {%- endfor -%}
      </div>
      <div class="introduce_metafields"></div>
      </div>
      <img class="introduce-img" src="{{ product.selected_or_first_available_variant.featured_image.src | img_url: 'master' }}" alt="img">
    </div>
  </div>
</div>
<script>
  var productvariant = {{ product.variants | json }};
  let defProduct = productvariant[0].option1
  const click_svariant = document.querySelectorAll('.click_svariant');

  click_svariant.forEach((item,index) => {
    item.addEventListener('click', () => {
      click_svariant.forEach((el) => {
        el.classList.remove('selected');
      });
      item.classList.add('selected');
      productvariant.forEach(function(text,index) {
        if (text.option1 == defProduct && text.options.includes(item.dataset.title)) {
          $(".introduce-img").attr("src", text.featured_image.src);
        }
      })
    });
    if (index === 0) {
      item.click();
    }
  });
  
  var introduceString = '{{ product.metafields.custom.introduce }}'
  if (introduceString) {
    var introduceObject = JSON.parse(introduceString);
    let divitem = ''
    introduceObject.children.forEach(item => {
      let value = item.children[0].value.trim()
      if (value) {
        divitem += '<div>'+ value + '</div>'
      } else {
        divitem += '<div class="kong">'+ value + '</div>'
      }
    })
    $(".introduce_metafields").html(divitem);
  }
</script>
{% schema %}
{
  "name": "product-introduce",
  "class": "index-section product-introduce",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Dimensions"
    }
  ],
  "presets": [
    {
      "name": "product-introduce",
      "settings": {
        "title": "Dimensions"
      }
    }
  ]
}
{% endschema %}
